<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XYZEE LTD</title>

    <! css: cascading style sheets

    -->

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>
        welcome to XYZEE LIMITED
    </h1>
    <h4>
        the company's tagline goes here
    </h4>
    <h6>
        limited slots. join us now
    </h6>
    <h2>
        welcome to XYZEE. What's your name?0
    </h2>

        <img src="../static/images/awesome.jpeg"
             alt="an awesome text"
<p>

<h2>
    our mission
</h2>

<p>
    <img src="../static/images/lion.jpeg">
    </p>
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque dolore facere officia repellendus sint ut vitae. Adipisci aspernatur deserunt dolorem enim, explicabo neque obcaecati omnis, perspiciatis, quam repellat vero.
</p>

<h2>
    our vision
</h2>
    
    <p>
        <img src="../static/images/damn.jpeg">
    </p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur corporis cumque deserunt doloremque earum enim iure laudantium molestias nobis, non odio officiis possimus quisquam sapiente sed sit tempora ullam? Voluptatem?
</p>
</body>
</html>