<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jumbotron</title>
    c
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-warning">
    <button class="navbar-toggler " data-target="#mynav">
        <span class="navbar-toggler-icon"></span>
    </button>



<div class="collapse navbar-collapse id="mynav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="" class="nav-link">home</a>
        </li>
         <li class="nav-item">
            <a href="" class="nav-link">address</a>
        </li>
         <li class="nav-item">
            <a href="" class="nav-link">items</a>
        </li>
         <li class="nav-item">
            <a href="" class="nav-link">welcome</a>
        </li>
    </ul>
</div>


 </nav>

<section class="row text-justify">
    <div class="wow fadeInDownBig" data-wow-delay="3s">
        <img src="../static/images/pic.jpeg" alt="" class="img-fluid wow fadeInDown" width="100%">
        <h3> nature pics</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi explicabo,
            impedit? Ad autem, commodi delectus dicta dolore ea eaque enim fugiat ipsa itaque iure nisi non omnis, quidem, quod voluptatibus!

        </p>
        <a href="" class="btn btn-success"> awesome</a>

   </div>


    <div class="col-md-6">
        <img src="../static/images/smile.jpeg" alt="" class="img-fluid" width="400">
        <h3> oceans</h3>
        <p class="wow fadeInDown">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, corporis cum esse facere ipsa ipsum laboriosam, mollitia nam nemo odit omnis quas repellat repudiandae similique soluta sunt velit, voluptas?

        </p>
        <a href="" class="btn btn-success"> waters</a>

    </div>

        <!--colors: primary, success, info, warning, danger, dark, secondary, light

      txt
      .bg
      .btn btn
      -->


</section>


<header class="header text-center" style="...">
    <h2> FAQ</h2>
    <P>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deserunt doloremque ea facere omnis perferendis, quam quibusdam repudiandae velit vitae! A culpa est ipsa minima quas sunt? Enim, magni, possimus.

    </P>
</header>

<section class="row">
    <div class="col-md-4">
        <ul class="nav nav-tabs">
            <li>
                <a href="#home" class="nav-link"  data-toggle="tab">home</a>
            </li>
             <li>
                <a href="#qsns" class="nav-link" data-toggle="tab">qsns</a>
            </li>
             <li>
                <a href="#more" class="nav-link" data-toggle="tab">more</a>
            </li>
             <li>
                <a href="#about" class="nav-link" data-toggle="tab">about us</a>
            </li>
        </ul>

        <!-- tab content-->

        <div class="tab-content">
            <div class="tab-pane active" id="home">
                home content
            </div>
            <div class="tab-pane " id="qsns">
                qsns content
            </div>

            <div class="tab-pane " id="more">
                more content
            </div>

            <div class="tab-pane " id="about">
                about content
            </div>

        </div>
    </div>



</section>


</body>
</html>