<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xyzee</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1> welcome to xyzee limited</h1>
<h4>your company tag is here</h4>
<h6>limited slots.join us now</h6>

<a href="/home">HOME</a>
<a href="/products">PRODUCTS</a>
<a href="/services">SERVICES</a>
<a href="/join">JOIN US</a>
<a href="/contact">CONTACT US</a>
<br>
<legend>Fruits den</legend>
<form action="join.html" ="">
username<br>
<input type="text"name="username/">
<br/>
password<br/>
<input type="password"name="password"/>
<br/>
confirm password<br/>
<input type="password" name="password"/>
<br/>
Email<br>
<input type="email" name="email">
<br>
Your ID <br>
<input type="number" name="id">
<br>
Your phone<br>
<input type="tel"name="phone">
<br>
<br>
Upload your CV
<br>
<br>
<input type="file" name="CV">
<br>
Select Gender<br>
<input type="radio" name="gender"><label for="">Male</label>
<input type="radio" name="gender"><label for="">Female</label>
<br>
Select interests<br>
<input type="checkbox"name="IT"><label for="">IT</label>
<input type="checkbox"Biz ><label for="">Business</label>
<input type="checkbox"Finance><label for=""> Finance</label>
<input type="checkbox"Marketing><label for="">Marketing</label>
<br>

pick your town<br>
<select name="town" id="">
    <option value="nrb"> Nairobi</option>
    <option value="nkr"> Nakuru</option>
    <option value="mbs"> Mombasa</option>
    <option value="bsa"> Busia</option>
    <option value="macha"> Machakos</option>

</select>




<input type="submit" value="register"/>
<input type="reset"/>

</form>


</body>
</html>