<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xyzee</title>
    <link rel="stylesheet"href="../static/style.css">
</head>
<body>
<h1> welcome to xyzee limited</h1>
<h4>your company tag is here</h4>
<h6>limited slots.join us now</h6>

<a href="/home">HOME</a>
<a href="/products">PRODUCTS</a>
<a href="/services">SERVICES</a>
<a href="/join us">JOIN US</a>
<a href="/contact">CONTACT US</a>
<h2>programs</h2>

<ol type="1">
    <li>Diploma in business </li>
    <li>Diploma in business </li>
    <li>Diploma in business </li>
    <li>Diploma in business </li>


</ol>

<h2>latest news</h2>
<dl>
    <dt>politics</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, animi aspernatur assumenda consequatur dignissimos ea exercitationem fuga fugiat illum iusto nam necessitatibus non nulla, optio quibusdam quis reprehenderit saepe sed!
    <a href="">read more</a></dd>

</dl>


<br>



</body>
</html>