<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xyzee</title>
   <link rel="stylesheet"href="../static/style.css">
</head>
<body>
<h1> welcome to xyzee limited</h1>
<h4>your company tag is here</h4>
<h6>limited slots.join us now</h6>

<a href="/home">HOME</a>
<a href="/products">PRODUCTS</a>
<a href="/services">SERVICES</a>
<br>

Pick Your Town <br>
<select name="town" id="">
    <option value="Nrb">Nairobi</option>
    <option value="Nkr">Nakuru</option>
    <option value="Nbi">Nairobi</option>
    <option value="Msa">Mombasa</option>
    <option value="Eld">Eldoret</option>

</select>



<input type="submit" value="register"/>
<input type="reset"/>

</form>


</body>
</html>