
        h1 {
            color: antiquewhite;
            background-color: black;
            font-family: "L M Roman Slant10";
            font-style: italic;
            text-align: center;
        }

        h4{
            color: bisque;
            background-color: black;
            font-family: "L M Roman Slant10";
            font-style: italic;

        }

        h6{
            color: burlywood;
            background-color: black;
            font-family: "L M Roman Slant10";
            font-style: italic;
        }

        p{
            background-color: lightslategray;

            color: azure;

            margin-right: 10%;
            margin-left: 10%;
            border:blue 2px groove;

        }
        form {
            text-align: center;

        }



